# unknown
# #######

**/core

# macOS
# #####

**/.DS_Store

# terraform
# #########

**/.terraform.lock.hcl
**/.terraform

**/*.plan
**/*.plan.json

# credentials
# ###########

**/.env.dev
**/.env.prod

**/key

# Certificate files (DO NOT COMMIT)
# ##################################

.certs/
**/*.pem
**/*.key
**/*.crt
**/*.p12
**/*.pfx

# temps
# #####

**/tmp*
**/*.log

# python
# ######

**/__pycache__
