# unknown
# #######

**/core

# macOS
# #####

**/.DS_Store

# terraform
# #########

**/.terraform.lock.hcl
**/.terraform

# credentials
# ###########

**/.env.dev
**/.env.prod

**/key

# temps
# #####

**/tmp*
**/*.log

# python
# ######

**/__pycache__
