ARM_CLIENT_ID=...
ARM_CLIENT_SECRET=...
ARM_TENANT_ID=...
ARM_SUBSCRIPTION_ID=...

AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_DEFAULT_REGION=...

TF_VAR_baxos_src_git_root_creds=https://ORGANIZATION:PAT@dev.azure.com
TF_VAR_baxos_src_git_root=https://ORGANIZATION@dev.azure.com
TF_VAR_baxos_src_git_project_suffix=suffix/to/form/repo/after/git_root_var
